@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Mono', monospace;
}

:root {
  --light: #ffffff;
  --dark: #181b24;
  --grey: #899495;
  --orange: #fc5130;
  --SectionGrey: #f2f2f2;
}

/* header */
.header {
  min-height: 100vh;
  /* background: url(./img/header-bcg.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url('./img/header-bcg.jpeg') center/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
}

/* nav */
.nav {
  background: var(--light);
}
/* end of nav */

/* banner */
.banner {
  /* as a flex child */
  flex: 1 0 auto;
  /* as a parent */
  display: flex;
  justify-content: center; 
  align-items: flex-end;  
  color: var(--dark);
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 700;
}

.banner__title {
  font-size: 4rem;
  letter-spacing: .15rem;
  margin-bottom: .5rem;
  font-style: italic;
  text-transform: capitalize;
  color: var(--dark);
}

.banner__jobs {
  letter-spacing: .15rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--light);
}
/* end of banner */

/* end of header */