.container {
    border: solid crimson 5px;
}

.box {
    font-size: 35px;
    text-align: center;
    padding: 30px;
    color: white;
}

.box-1 {
    background: brown;
}

.box-2 {
    background: green;
}

.box-3 {
    background: red;
}

.box-4 {
    background: yellow;
}

.box-5 {
    background: pink;
}